{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lang list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Family</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lang in langs %}
            <tr>
                <td><a href="{{ path('lang_show', { 'id': lang.id }) }}">{{ lang.id }}</a></td>
                <td>{{ lang.name }}</td>
                <td>{{ lang.family }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lang_show', { 'id': lang.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lang_edit', { 'id': lang.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lang_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
